{% extends 'base.html' %}

{% block content %}
    {% for shoe in shoes %}
        <div class="products products-table">
            <div class="product">
                <div class="product-img">
                    <img id="product-img{{ forloop.counter }}" src="..{{ shoe.shoecolor_set.first.image.url }}" alt="shoe-image">
                </div>
                <div class="product-content">
                    <h3>
                        {{ shoe.brand }}
                        <small>{{ shoe.name }}</small>
                    </h3>
                    <p class="product-text price">${{ shoe.price }}</p>
                    <p class="product-text stock">Stock: {{ shoe.stock }}</p>
                    <p class="product-text genre">
                        |
                        {% for category in shoe.category.all %}
                        {{ category.name }}
                        |
                        {% endfor %}
                    </p>
                    <p class="product-text">
                        {% for color in shoe.shoecolor_set.all %}
                        <div class="color">
                            <button 
                                class="color-change" 
                                onclick="document.getElementById(
                                    'product-img{{ forloop.parentloop.counter }}'
                                    ).src=document.getElementById(
                                        'img-change{{ forloop.counter }}'
                                        ).src"
                            >
                                <img id="img-change{{ forloop.counter }}" class="color-change" src="..{{ color.image.url }}" alt="shoe-image">
                            </button>
                        </div>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}