@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$background-color: #AA8F39;
$text-color: #FFEBAA;
$secondary-background-color: #806715;
$hover-color: #d4bb6aa6;
$active-color: #554100;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: $background-color;
    
    main {
        h2 {
            color: $text-color;
        }

        p {
            color: $text-color;
        }

        a.btn {
            display: inline-block;
            color: $text-color;
            text-align: center;
            width: 80px;
            height: 20px;
            padding: 14px 16px;
            margin: 5px;
            text-decoration: none;
            background-color: $secondary-background-color;
        }

        a.btn:hover {
            background-color: $hover-color;
        }

        form#auth-form {

            ul.errorlist.nonfield {
                li {
                    color: $active-color;
                }
            }

            div.input-field {
                display: block;
                padding: 5px 5px;
                label {
                    color: $text-color;
                }

                input {
                    box-sizing: border-box;
                    border: 10px $text-color;
                    border-radius: 10px;
                    background-color: $secondary-background-color;
                    color: $text-color;
                }
            }
        }
    }
}

.nav {
    background-color: $secondary-background-color;
    overflow: hidden;
    margin-bottom: auto;
    a {
        float: left;
        display: block;
        color: $text-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .nav-right {
        float: right;
    }
    a:hover {
        background-color: $hover-color;
    }
    a.active {
        background-color: $active-color;
    }
}