{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2>Sign Up</h2>
    <form id="auth-form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-field">
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="input-field">
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="input-field">
            {{ form.password1.errors }}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="input-field">
            {{ form.password2.errors }}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <a href="javascript:{}" class="btn" onclick="document.getElementById('auth-form').submit();">Sign Up</a>
    </form>
{% endblock content %}