@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #AA8F39;
}

body main h2 {
  color: #FFEBAA;
}

body main p {
  color: #FFEBAA;
}

body main a.btn {
  display: inline-block;
  color: #FFEBAA;
  text-align: center;
  width: 80px;
  height: 20px;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
  background-color: #806715;
}

body main a.btn:hover {
  background-color: #d4bb6aa6;
}

body main form#auth-form ul.errorlist.nonfield li {
  color: #554100;
}

body main form#auth-form div.input-field {
  display: block;
  padding: 5px 5px;
}

body main form#auth-form div.input-field label {
  color: #FFEBAA;
}

body main form#auth-form div.input-field input {
  box-sizing: border-box;
  border: 10px #FFEBAA;
  border-radius: 10px;
  background-color: #806715;
  color: #FFEBAA;
}

.nav {
  background-color: #806715;
  overflow: hidden;
  margin-bottom: auto;
}

.nav a {
  float: left;
  display: block;
  color: #FFEBAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav .nav-right {
  float: right;
}

.nav a:hover {
  background-color: #d4bb6aa6;
}

.nav a.active {
  background-color: #554100;
}

.products {
  width: 100%;
}

.product {
  display: inline-block;
  width: calc(24% - 13px);
  margin: 10px 10px 30px 10px;
  vertical-align: top;
}

.product img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 200px;
  max-width: calc(100% - 20px);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.product h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: #554100;
}

.product h3 small {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 7px 0 0 0;
}

.product .product-text {
  margin: 7px 0 0 0;
  color: #FFEBAA;
}

.product .color img {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 50px;
}

.product .price {
  font-size: 16px;
  font-weight: 700;
}

.product .stock {
  font-size: 14px;
  font-weight: 700;
}

.product .genre {
  font-size: 14px;
}

.product-content {
  text-align: center;
}

@media screen and (min-width: 401px) {
  .products-table .product {
    display: block;
    width: auto;
    margin: 10px 10px 30px 10px;
  }
  .products-table .product .product-img {
    display: inline-block;
    margin: 0;
    width: 120px;
    height: 120px;
    vertical-align: middle;
  }
  .products-table .product img {
    width: auto;
    height: 120px;
    max-width: 120px;
  }
  .products-table .product h3 {
    margin: 0;
  }
  .products-table .product-content {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: calc(100% - 145px);
  }
  .products-table .product-content button {
    all: unset;
    cursor: pointer;
  }
  .products-table .product-content .color {
    float: left;
    display: inline;
    margin: 5px;
  }
  .products-table .product-content .color img {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=../css/main.css.map */